<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- CamelCase to SnakeCase -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <!-- Lazy Loading -->
        <setting name="lazyLoadingEnabled" value="true" />
        <!-- Default fetch size -->
        <setting name="defaultFetchSize" value="100" />
        <!-- Default Statement Timeout -->
        <setting name="defaultStatementTimeout" value="30" />
    </settings>
    
    <typeAliases>
        <package name="com.example.todo.model" />
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="com.example.todo.config.TaskStatusTypeHandler" />
    </typeHandlers>
</configuration> 